{% extends 'templateNavBar.html' %}
{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col">

        <input type="" value="FORMATO NO. 003" disabled>
      </div>
      <div class="col">
        <input type="text" value="BALANCE ENERO 2023" disabled  >
      </div>
    </div>
</div>

<div class="container text-center border-primary">
    <div class="row g-3">
      <div class="col-6">
        

        <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="4">BANCOS</th>
              </tr>
            </thead>
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">HABER</th>
                  <th scope="col">DEBER</th>
                  <th scope="col">#</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><span>$</span>100,000</td>
                <td><span>$</span>1,000</td>
                <th scope="col">4</th>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td><span>$</span>400</td>
                <td><span>$</span>3,000</td>
                <th scope="col">6</th>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td><span>$</span>4,400</td>
                <td><span>$</span>3,000</td>
                <th scope="col">10</th>
              </tr>
            </tbody>
          </table>


      </div>
      <div class="col-6">


        <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="4">EQUIPO OFICINA</th>
              </tr>
            </thead>
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">HABER</th>
                  <th scope="col">DEBER</th>
                  <th scope="col">#</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><span>$</span>10,000</td>
                <td><span>$</span> </td>
                <th scope="col"> </th>
              </tr>
              
              <tr>
                <th scope="row">9</th>
                <td><span>$</span>1,400</td>
                <td><span>$</span></td>
                <th scope="col"></th>
              </tr>
            </tbody>
          </table>


      </div>
      <div class="col-6">
        <div class="p-3">Custom column padding</div>
      </div>
      <div class="col-6">
        <div class="p-3">Custom column padding</div>
      </div>
    </div>
</div>

{% endblock %}