{% extends 'templateNavBar.html' %}
{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col">

        <input type="" value="FORMATO NO. 003" disabled>
      </div>
      <div class="col">
        <input type="text" value="BALANCE ENERO 2023" disabled  >
      </div>
    </div>
</div>

<div class="container text-center border-primary">
    <div class="row g-3">
      <div class="col-6">
        
        
          
        <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="4"> {{consulta1}}</th>
              </tr>
            </thead>
           
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">ABONO</th>
                  <th scope="col">CARGO</th>
                  <th scope="col">#</th>
                </tr>
              </thead>
            
          
          <tbody>
            
            
            
            
              {%for cursor1 in cursor1%}
              <tr>
                <th scope="col">{{cursor1.1}}</th>
                <th scope="col">{{cursor1.0}}</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
              {%endfor%}
            
              {%for cursor2 in cursor2%}
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">{{cursor2.0}}</th>
                <th scope="col">{{cursor2.1}}</th>

              </tr>
              {%endfor%}
                

                
            
            
            
          </tbody>            
          </table>

          
      </div>

          
      


      
      <div class="col-6">
        <div class="p-3">Custom column padding</div>
      </div>
      <div class="col-6">
        <div class="p-3">Custom column padding</div>
      </div>
    </div>
</div>

{% endblock %}